.row#editor
  .col-md-9
    %header
      %h1 Editors' Room
      %p This is where editors spend time and make decisions
  .col-md-3
    %h2 Editors' Links
    %ul.nav.nav-stacked 
      %li Links editors need
           
