-if user_signed_in?
  =link_to "New Idea", new_idea_path
  %h1 Ideas for articles
  =form_tag('/ideas', method: "get") do
    =select_tag :state_id, options_for_select("Research" => "1" , "Writing" => "2", "Editing" => "3", "Done" => "4"), prompt: "Please select"

    =submit_tag 'Filter by stage', name: nil
  -@ideas.each do |idea|
    %h3
      =link_to idea.name, idea
    %p
      =idea.description
-unless user_signed_in?
  %h1 Newsroom
  %h2 Newsroom is where editorial teams share ideas and coordinate their work 
  =image_tag 'cover'     
