#idea
  %h2= @idea.name
  %h3= @idea.description
  %h4 Author: #{@idea.author.email}
  -if @idea.state.present?
    =@idea.state
-if current_user == @idea.author
  =link_to "Delete Idea", idea_path(@idea), method: :delete
  =link_to "Edit Idea", edit_idea_path(@idea)
%h3 Comments
#comments
  -if @idea.comments.persisted.any?
    =render @idea.comments.persisted
  -else
    %p There are no comments    
= render "comments/form", idea: @idea, comment: @comment