/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "editor/application";

body {
  background-image: url("cover.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: cover;
  padding-top: 70px;
 }

.welcome {
    margin-top: 400px;
    margin-left: 200px;

	h1 {
		font-size: 60px;
		font-type: Arial;
		font-weight: bold;
 		color: #5c8a8a;
 	}

 	.button {
 		position: relative;
 		top: 50%;
 		left: 45%;
	 	width: 250px;
		height: 50px;
	 	border: 1px solid white;
		border-radius: 10px;
		background: transparent;
		color: white;
		letter-spacing: 1px;
		font-size: 28px;
		font-type: Arial;
	}
}

form {
	max-width: 500px;
}

header {


@extend .page-header;
	position: relative;
	padding-bottom: 0px;

	&:first-child {
		margin-top: 20px;
	}
}

ul.actions {
	@extend .list-unstyled;
	@extend .list-inline;
}

a.new, a.edit, a.delete {
	@extend .btn;
	&:before {
	font-family: "FontAwesome";
	padding-right: 0.5em;
	}
}

a.new {
	@extend .btn-success;
	&:before {
	@extend .fa-plus;
}
}

a.edit {
	@extend .btn-primary;
	&:before {
	@extend .fa-pencil;
}
}
a.delete {
	@extend .btn-danger;
	&:before {
	@extend .fa-trash;
}
}

.alert-notice {
	@extend .alert-success;
}

.alert-alert {
	@extend .alert-danger;
}